/InternetShopClothes.API/.vs/InternetShopClothes.API/FileContentIndex/70bca67f-3b5f-4687-a0bc-b4c1942c5d28.vsidx
/InternetShopClothes.API/.vs/InternetShopClothes.API/FileContentIndex/ac481e1f-ded0-42dd-9407-b4e52f0d8d4d.vsidx
